/* Global */
@font-face {
  font-family: 'Arial';
  /* src:url("Azonix.otf") format("opentype"); */
}

::-webkit-scrollbar {
    display: none;
}

body{
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.fontAzonix{
  font-family: Azonix;
}

/* Color Scheme */
.color_black{
  background: #000000;
}

.text_color_black{
  color: #000000;
}

.color_white{
  background: #FFFFFF;
}

.text_color_white{
  color: #FFFFFF;
}

.color_red{
  background: #F90E0E;
}

.text_color_red{
  color: #F90E0E;
}

.color_grey{
  background: #A8A8A8;
}

.text_color_grey{
  color: #A8A8A8;
}

.color_blue{
  background: #505575;
}

.text_color_blue{
  color: #505575;
}

.color_dblue{
  background: #201E50;
}

.color_yellow{
  background: #ffc600;
}


.text_color_dblue{
  color: #201E50;
}

/* End Color Scheme */

.font_size80{
  font-size: 80px;
}

.font_size50{
  font-size: 50px;
}

.font_size40{
  font-size:40px;
}

.font_size30{
  font-size: 30px;
}

.font_size25{
  font-size: 25px;
}

.font_size18{
  font-size: 18px;
}

.font_size20{
  font-size: 20px;
}

.bold_me{
  font-weight: bold;
}

#activedropdown{
  color:red;
}

.indentparagraph50{
  padding-left: 50px;
}

/* End GLobal */

/* ------------------------------ */

/* Local */
/* Navigation Bar */
.navbar{
  position: fixed;
  top:0;
}
.nav_custom{
  background: #ffc600;
}

/* Navigation Button */
.nav_custom div a{
  color: black;
  font-weight: 600;
  text-decoration: none;
}

/* Actived Navigation */
.nav_custom div a.active{
  color: red;
}


/* Prevent actived hover change color
and allow other to change that is not .active */
.nav_custom div a:hover:not(.active){
  color: white;
  transition: 0.4s;
}

.dropdown > div{
  background: #ffc600;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover{
  background: white;
}

div {
  color: black;
}


/* ---------------- End Nav ----------------*/


.logo{
  font-weight: 900;
}
